body{
    background-color: #fffbf7;
}

h1{
    color: blueviolet;
}

h2{
    color: #46484c;
}
p{
    color: #8b8b8bcc;
}
button{
    background-color: #025157;
    color: #fff;
}

.fixed-header{
    position: fixed;
    background-color: white;
    margin: 0px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.header{
    
    /* margin: 40px 20px 0px 20px; */
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;

}

li{
    display: inline;
}
/*Se le aplica a los hijos del header, no al header como tal*/
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}
.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    word-spacing: 25px;
}

.actions{
    width:15%;
    text-align: right;
    font-size: 14px;
}

.actions > *{
    margin-left: 5px;
    margin-right: 5px;
}

.actions a{
    color: #67b54b;
}

.actions button{
    color: white;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
    background-color: #67b54b;
}


/*----------21-06-2021-----------------------*/

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-content: space-evenly;
}

.promo #video-image video{
    width: 100%;
}


.promo #video-image img{
    width: 120px;
    height: 10px;
}
 #video-image {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.promo #parrafo-junto-video{
    flex-basis: 50%;
    align-items: center;
}