@font-face {
    font-family: 'Slabo 27px';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/slabo27px/v7/mFT0WbgBwKPR_Z4hGN2qgx8D1Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI49qqjgSE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI4_6qjgSE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI496qjgSE.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI4-KqjgSE.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI49KqjgSE.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI49aqjgSE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNGXxI4-6qj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

body{
    padding: 0;
    margin: 0;
    background-color: #fffbf7;
}

h1{
    font-size: 60px;
    color: blueviolet;
    margin-top: 150px;
}

h2{
    color: #46484c;
}
p{
    color: #8b8b8bcc;
}
button{
    background-color: #025157;
    color: #fff;
}

.fixed-header{
    z-index: 2;
    position: fixed;
    background-color: white;
    margin: 0px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.header{
    
    /* margin: 40px 20px 0px 20px; */
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;

}

li{
    display: inline;
}
/*Se le aplica a los hijos del header, no al header como tal*/
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}
/* .navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    word-spacing: 25px;
} */

.actions{
    width:15%;
    text-align: right;
    font-size: 14px;
}

.actions > *{
    margin-left: 5px;
    margin-right: 5px;
}

.actions a{
    color: #67b54b;
}

.actions button{
    color: white;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
    background-color: #67b54b;
}


/*----------21-06-2021-----------------------*/

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-content: space-evenly;
}

.promo #video-image video{
    width: 100%;
}


.promo #video-image img{
    width: 120px;
    height: 10px;
}
 #video-image {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.promo #parrafo-junto-video{
    flex-basis: 50%;
    align-items: center;
}


#banner-postwork{
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#banner-postwork #texto{
    flex-basis: 85%;
    padding-right: 100px;
}

#banner-postwork #texto h2{
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

#banner-postwork #texto p{
    color: #343434;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

#banner-postwork #texto button{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    border: none;
    
}
 #banner-postwork #texto img{
    width: 500px;
    max-width: 100%;
 }

 /*Tarjetas*/

 #banner-postwork #card-aside{
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    flex-basis: 41%;
 }
 #banner-postwork #card-aside #person-image{
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*
#banner-postwork #card-aside #brand-image{
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

#banner-postwork #card-aside #body-card{
    padding: 25px;
}

#banner-postwork #card-aside #body-card h4{
    font-family: 'Slabo 27px';
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}


#banner-postwork #card-aside #body-card h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}


#banner-postwork #card-aside #body-card button{
    width: 100%;
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    border: none;
    
}

/*23-06-2021*/
.features{
    display: grid;
    /* grid-template-columns: 100px 300px; */
    /* grid-template-columns: repeat(2, 300px); Dos col con 300 px */
    /* grid-template-columns: 500px 1fr;  */
    grid-template-columns: 1fr 1fr; /*Las dos col usan el mismo espacio*/
    grid-template-rows: 330px 330px;

    /* grid-template: repeat(2, 1fr) / repeat(2, 330px); */

}

.feature-art{
    background-color: lightcyan;
    margin: 10px;
    width: 40%;
    height: 50px;
}


#cards{
    font-family:sans-serif;
    
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

#cards .informative-cards{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
   
}

#cards .informative-cards .card-feature-content{
    padding: 30px 20px 40px 40px;
    flex: 2;
}


#cards .informative-cards .card-feature-content figure{
    margin-left: 0;
}

#cards .informative-cards .card-feature-content figure img{
    width: 20%;
    text-align: left;
}


#cards .informative-cards .card-feature-content h3{
    font-size: 24px;
    font-weight: 600;
    color: #343434;
    line-height: 29px;
}


#cards .informative-cards .card-feature-content p{
    font-size: 14px;
    font-weight: 400;
    color: #7e7e7e;
    line-height: 24px;
}

#cards .informative-cards .card-feature-content a{
    font-size: 16px;
    font-weight: 600;
    color: #67b54b;
    line-height: 24px;
    text-decoration: none;
}


#cards .informative-cards .card-feature-image{
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

#cards .informative-cards  .card-feature-image img{
    margin-top: 0;
    height: 100%;
}

/*Seccion cards en columna*/


#four-cards-col{
    margin: 50px auto;
    text-align: center;
    background-color: #FFFBF7;
}

#four-cards-col #fcc-text{
    margin-top: 50px;
}

#four-cards-col #fcc-text h2{
    font-family: "Alegreya", serif;
    font-size: 51px;
    color: #025157;
    margin: 0px auto;   
}


#four-cards-col #fcc-text p{
    font-family:  sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #46484c;
    line-height: 27px;
    margin: 15px auto;   
    width: 50%;
}

#four-cards-col #fcc-text button{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    border: none;
}

#four-cards-col #cards-column{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 10%;
    padding-right: 10%;
}
 #four-cards-col #cards-column .cards-column-class{
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    padding-bottom: 30px;
 }

#four-cards-col #cards-column .cards-column-class img{
    text-align: center;
    margin: 0px auto;
    width: 100%;
    height: 330px;
}

#four-cards-col #cards-column .cards-column-class h3{
    font-size: 30px;
    line-height: 18px;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: 400;
    text-align: center;
}

#four-cards-col #cards-column .cards-column-class p{
    font-family: sans-serif;
    padding: 25px;
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
    margin-bottom: 16px;
}

#four-cards-col #cards-column .cards-column-class a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #67b54b;
    text-decoration: none;
    padding: 0px 25px 25px 25px;
}


#boton-growing{
    display: block;
}

#boton-navbar{
    margin: 10px;
}

/*28-06-2021
Media queries
*/
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {

    /* .navbar, .actions{
        display: none;
    } */
    h1{
        margin-top: 65px;
        font-size: 30px;
    }
    .publish .formulario{
        display: grid;
        grid-template-columns: 1fr;
    }
    
.banner > img{
    width: 100%;
}


.promo{
    flex-direction: column;
    max-width: 90%;
}

.promo #video-image > video{
    width: 100%;
}
.publish{
    margin-top: 10px;
}
.publish > h3{
    font-size: 25px;
    line-height: 1.2;
}
#cards{
    grid-template-columns: 1fr;
}

#cards .informative-cards .card-feature-content h3 {
    font-size: 16px;
    
}

#cards .informative-cards .card-feature-image img {
    
    max-height: 300px;
}
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}
